a {
  margin: 0 1rem 0 2rem;
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.example-spacer {
  flex: 1 1 auto;
}

.button-margin {
  margin-right: 1rem;
}

.example-container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

.toolbar-sm {
  top: 56px;
}

mat-drawer {
  width: 300px;
}
