<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span style="margin: 0 1rem 0 2rem">Pet Dating</span>
  <button mat-button class="button-margin">Matches</button>
  <button mat-button class="button-margin">Lists</button>
  <button mat-button class="button-margin">Messages</button>
  <span class="example-spacer"></span>

  <button (click)="openLoginDialog()" mat-mini-fab color="accent"  #tooltip="matTooltip"
    matTooltip="Login"
    matTooltipPosition="below"
    matTooltipShowDelay="200"
    matTooltipHideDelay="1000">
    <mat-icon>login</mat-icon>
  </button>
</mat-toolbar>


