<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <a routerLink="/home">
    pet<strong style="color: #FF4081;">date</strong>
  </a>
  <div style="padding-left: 4rem;">
    <button mat-button *ngIf="loggedIn()" routerLink="/members" routerLinkActive="active">Matches</button>
    <button mat-button *ngIf="loggedIn()" routerLink="/lists" routerLinkActive="active">Lists</button>
    <button mat-button *ngIf="loggedIn()" routerLink="/messages" routerLinkActive="active">Messages</button>
  </div>
  <span class="example-spacer"></span>

  <mat-form-field  *ngIf="loggedIn()" appearance="none"  floatLabel="never" style="padding-right: 3rem;">
    <mat-label class="dropdown" style="padding-left: 3rem;">
      <b> Hi, {{authService.decodedToken?.unique_name | titlecase}}</b>
    </mat-label>
    <mat-select class="dropdown"  >
      <mat-option value="edit">Edit user <mat-icon>create</mat-icon></mat-option>
      <mat-option value="logout" (click)="logout()">Logout <mat-icon>exit_to_app</mat-icon></mat-option>
    </mat-select>
  </mat-form-field>


  <div *ngIf="!loggedIn()">
    <button class="button-margin" (click)="openRegisterDialog()" mat-raised-button>
      Register
    </button>
    <button class="button-margin" (click)="openLoginDialog()" mat-raised-button color="accent">
      Login
      <mat-icon>login</mat-icon>
    </button>
  </div>
</mat-toolbar>


