a {
  margin: 0 1rem 0 2rem;
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.example-spacer {
  flex: 1 1 auto;
}

.button-margin {
  margin-right: 1rem;
}

.dropdown {
  font-size: 0.8rem;
  // width: fit-content;
  padding-left: 1rem;

}
