<div class="container mt-4">
  <form class="form-inline mb-3" #form="ngForm" (ngSubmit)="loadUsers()" novalidate>

      <!-- <mat-form-field class="mr-3" >
        <mat-label>Age From</mat-label>
        <input type="number" matInput placeholder="Min. age is 18"
          name='minAge' [(ngModel)]="userParams.minAge">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>

      <mat-form-field class="mr-3">
        <mat-label>Age To</mat-label>
        <input type="number" matInput placeholder="Max. age is 99"
          name='maxAge' [(ngModel)]="userParams.maxAge">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="fill"  >
        <mat-label>Gender</mat-label>
        <mat-select [(ngModel)]="userParams.gender" name='gender' >
          <mat-option *ngFor="let item of genderList" [value]='item.value' (click)="loadUsers()">
            {{item.display}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button type="submit" class="ml-3 mb-3" color="primary">Apply Filters</button>
      <button mat-raised-button type="button" color="accent"
        (click)="resetFilters()" class="ml-3 mb-3">Reset Filter</button> -->

      <mat-label class="mr-2">Age From</mat-label>
        <mat-slider #sliderMin (click)="loadUsers()" class="mr-3"
        thumbLabel
        [max]="sliderMax.value"
        [min]="18"
        [(ngModel)]="userParams.minAge"
          name='minAge'>
        </mat-slider>

        <mat-label class="mr-2">Age To</mat-label>
        <mat-slider #sliderMax (click)="loadUsers()" class="mr-3"
        thumbLabel
        [max]="99"
        [min]="sliderMin.value"
        [(ngModel)]="userParams.maxAge"
        name='maxAge'>
      </mat-slider>

      <mat-form-field appearance="fill">
        <mat-label>Gender</mat-label>
        <mat-select [(ngModel)]="userParams.gender" name='gender' >
          <mat-option *ngFor="let item of genderList" [value]='item.value' (click)="loadUsers()">
            {{item.display}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="col">
        <div class="float-right pb-3">
            <mat-button-toggle-group [(ngModel)]="userParams.orderBy" name="orderBy">
              <mat-button-toggle  value="lastActive"
                (click)="loadUsers()">Last Active</mat-button-toggle>
              <mat-button-toggle  value="created"
                (click)="loadUsers()">Newest Members</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
      </div>
  </form>


  <div class="row">
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" *ngFor="let item of members">
      <app-member-card [member]="item"></app-member-card>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center mb-2">
  <mat-paginator
    [length]="pagination.totalItems"
    [pageSize]="pagination.itemsPerPage"
    [pageSizeOptions]="[8, 16, 32, 64]"
    (page)="changePage($event)">
  </mat-paginator>
</div>
