<!-- <img src="../../assets/images/pet_home.jpg" alt="pets running"> -->
<div class=" bg-div" style="background-image: url('assets/images/pet_home.jpg');">
  <div class="findMatchGroup" >
    <h1 style="font-size: 3rem; color:white">find your
      <b style="color:#FF4081; font-size: 3rem;">match</b> </h1>
    <p style="font-size: 1.5rem; color:white; padding: 1rem 1rem;">
      Come on in to view your matches... All you need to do is sign up!</p>
    <div class="text-center">
      <button mat-raised-button color="accent" style="font-size: 1rem; padding: 0.5rem 1rem;">Learn more</button>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">

      </div>
    </div>
  </div>
</div>
