<div mat-dialog-content *ngIf="data.isLogin">
  <div fxLayoutAlign="center" class="title-box">
    <mat-card-title color="accent">Login</mat-card-title>
  </div>
  <!-- login template form -->
  <form #loginForm="ngForm" class="example-form-login" *ngIf="data.isLogin" (ngSubmit)="login()">
    <mat-form-field class="example-full-width">
      <mat-label>Username</mat-label>
      <input matInput [(ngModel)]="model.username" name="username" #username placeholder="Ex. John Hagipoulos" required>
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput  [(ngModel)]="model.password" name="password" #password placeholder="Min. 6 characters..." [type]="hide ? 'password' : 'text'" required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>

    <div mat-dialog-actions fxLayoutAlign="end" class="button-group">
      <button mat-button (click)="onNoClick()">Close</button>
      <button mat-raised-button color="primary" type="submit"
        [disabled]="!loginForm.valid">Submit</button>
    </div>
  </form>
</div>

<div mat-dialog-content *ngIf="!data.isLogin">
  <div fxLayoutAlign="center" class="title-box">
    <mat-card-title color="accent">Register</mat-card-title>
  </div>
  <!-- register reactive form -->
  <form [formGroup]="registerForm" class="example-form-register"
    (ngSubmit)="register()"
    >
    <mat-form-field class="example-full-width">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" id="username" placeholder="Ex. John Hagipoulos" >
      <mat-hint *ngIf="registerForm.get('username').hasError('required') &&
        registerForm.get('username').touched"
        style="color: var(--my-warn);">
        Username is required
      </mat-hint>
      <mat-hint *ngIf="registerForm.get('username').hasError('minlength') &&
        registerForm.get('username').touched"
        style="color: var(--my-warn);">
        Username must be min. 3 characters
      </mat-hint>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" id="password" placeholder="Min. 6 characters..."
        [type]="hide ? 'password' : 'text'" >
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-hint *ngIf="registerForm.get('password').hasError('required') &&
        registerForm.get('password').touched"
        style="color: var(--my-warn);">
        Password is required
      </mat-hint>
      <mat-hint *ngIf="registerForm.get('password').hasError('minlength') &&
        registerForm.get('password').touched"
        style="color: var(--my-warn);">
        Password must have at least 6 characters
      </mat-hint>
    </mat-form-field>

    <mat-form-field class="example-full-width" >
      <mat-label>Confirm Password</mat-label>
      <input matInput  formControlName="confirmPassword" id="confirmPassword" placeholder="Confirm password"
        [type]="hide ? 'password' : 'text'" >
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <!-- <mat-hint *ngIf="registerForm.get('confirmPassword').hasError('required') &&
        registerForm.get('confirmPassword').touched"
        style="color: var(--my-warn);">
        Password is required
      </mat-hint> -->
      <mat-hint *ngIf="registerForm.hasError('mismatch') &&
        registerForm.get('confirmPassword').touched"
        style="color: var(--my-warn);">
        Passwords must match
      </mat-hint>
    </mat-form-field>

    <div mat-dialog-actions fxLayoutAlign="end" class="button-group">
      <button mat-button (click)="onNoClick()">Close</button>
      <button mat-raised-button color="primary" type="submit"
        [disabled]="!registerForm.valid">Submit</button>
    </div>
  </form>
</div>


<!-- <pre>
  Form Valid: {{loginForm.valid}}
  Form Touched: {{loginForm.touched}}
  form dirty: {{loginForm.dirty}}
  form values: {{loginForm.value | json}}
  username Valid: {{username.valid}}
  username Touched: {{username.touched}}
  username dirty: {{username.dirty}}
  username values: {{username.value | json}}
  password Valid: {{password.valid}}
  password Touched: {{password.touched}}
  password dirty: {{password.dirty}}
  password values: {{password.value | json}}
</pre> -->

<!-- #username - a template reference, to be able to use it in template if you do not have one
          set in .ts -->
