.example-form-login {
  // margin: 1rem;
  // padding: 1rem;
  max-width: 500px;
  width: 100%;
}

.example-form-register {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2.75rem;
  max-height: 800px;
}

.example-full-width {
  width: 100%;
}

.title-box {
  background-color: #3F51B5;
  color: white;
  margin-bottom: 2rem;
  padding: 2rem;
}

.button-group {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
