.example-card {
  max-width: 400px;
  position: relative;
}

mat-card:hover img {
  opacity: 0.8;
}

mat-card:hover {
  transform: scale(1.05, 1.05);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}



.example-header-image {
  background-size: cover;
}

button:hover {
  transform: scale(1.35, 1.35);
  // transition-duration: 200ms;
  // transition-timing-function: ease-out;
}

mat-card-actions {
  position: absolute;
  padding: 1rem 0 1rem;
  opacity: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.example-card:hover mat-card-actions {
  bottom: 0;
  opacity: 1;
}
