<mat-card class="example-card mb-5" >
  <mat-card-header [routerLink]="['/members/', member.id]">
    <div mat-card-avatar class="example-header-image" style="background-image: url('{{member.photoUrl}}');"></div>
    <mat-card-title>
      {{member.username | titlecase}}
      <mat-icon>pets</mat-icon>
    </mat-card-title>
    <mat-card-subtitle class="pb-3">{{member.age}} years young</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{member.photoUrl || '/assets/images/user.png'}}"
    alt="{{member.username}}" [routerLink]="['/members/', member.id]">
  <!-- <mat-card-content>
    <p>
      {{member.introduction}}
    </p>
  </mat-card-content> -->
  <mat-card-actions fxLayoutAlign="end" class="mb-3">
    <button mat-mini-fab color="primary" matTooltip="Chat" class="mr-3"
      [routerLink]="['/members', member.id]"
      [queryParams]="{tab : 3}">
      <mat-icon>chat</mat-icon>
    </button>

    <button mat-mini-fab [color]="isLikedList? 'warn': 'accent'" [matTooltip]="isLikedList ? 'Delete': 'Like'" class="mr-3"
      (click)="isLikedList? unLikeUser(member.id) : sendLike(member.id)" >
      <mat-icon *ngIf="!isLikedList">favorite</mat-icon>
      <mat-icon *ngIf="isLikedList">delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

