<mat-card class="example-card mb-5" [routerLink]="['/members/', member.id]">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image" style="background-image: url('{{member.photoUrl}}');"></div>
    <mat-card-title >
      {{member.username | titlecase}}
      <mat-icon>pets</mat-icon>
    </mat-card-title>
    <mat-card-subtitle class="pb-3">{{member.age}} years young</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{member.photoUrl}}" alt="{{member.knownAs}}">
  <mat-card-content>
    <p>
      {{member.introduction}}
    </p>
  </mat-card-content>
  <mat-card-actions fxLayoutAlign="end" class="mb-3">
    <!-- <button mat-mini-fab color="primary" [routerLink]="['/members/', member.id]" matTooltip="Details">
      <mat-icon>portrait</mat-icon>
    </button> -->
    <button mat-mini-fab color="primary" matTooltip="Chat" class="mr-3"><mat-icon>chat</mat-icon></button>
    <button mat-mini-fab color="accent" matTooltip="Like" class="mr-3"><mat-icon>favorite</mat-icon></button>
  </mat-card-actions>
</mat-card>
