.example-card {
  max-width: 400px;
  position: relative;
}

mat-card:hover img {
  opacity: 0.8;
}

mat-card:focus {
  outline: none;
}

mat-card:hover {
  transform: scale(1.05, 1.05);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  cursor: pointer;
}



.example-header-image {
  background-size: cover;
}

button:hover {
  transform: scale(1.35, 1.35);
}

mat-card-actions {
  opacity: 0.3;
}

.example-card:hover mat-card-actions {
  opacity: 1;
}
